 * {
     margin: 0;
     padding: 0;
     font-family: 'Work Sans';
     box-sizing: border-box;
 }

 .logo-color {
     background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 /* header section start hare */
 nav {
     max-width: 1440px;
     width: 100%;
     height: 100px;
     background: #FFF;
     box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
     margin: 0 auto;
 }

 .nav-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0 auto;
     padding-top: 20px;
 }

 .logo-container {
     display: flex;
     align-items: center;
     gap: 10px;
     margin-left: 100px;
 }

 .logo-container p {
     text-align: center;
     font-size: 2.70em;
     font-weight: 700;
 }

 .logo-container img {
     width: 86.041px;
     height: 40px;
     object-fit: cover;

 }

 .nav-list-container {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 30px;
     margin-right: 100px;

 }

 a,
 .flow {
     text-decoration: none;
     color: #3C354F;
     text-align: center;
     font-size: 18px;
     font-weight: 500;
 }

 .flow {
     margin-right: 24px;
 }

 .fa-youtube {
     margin-right: 16px;
     color: red;
 }

 .nav-btn {
     width: 262px;
     height: 56px;
     border-radius: 8px;
     background: rgba(11, 2, 35, 0.10);
     text-align: center;
     border: none;
     font-size: 20px;

 }

 .banner-section {
     max-width: 1440px;
     margin: 0 auto;
     background: #FFF;
 }

 .banner-container {
     display: flex;
     justify-content: space-between;
     height: 600px;
     gap: 1px;

 }

 .all-text {
     margin-left: 100px;
     padding-top: 100px;

 }

 .all-text .banner-title {
     color: #0B0223;
     font-size: 48px;
     font-weight: 600;
     line-height: normal;
     text-transform: uppercase;
 }

 .all-text p {
     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-size: 95px;
     font-weight: 800;
     margin-bottom: 24px;

 }

 .all-text ul li {
     list-style-type: none;
     padding-bottom: 17px;
 }


 .btn-2 {
     border-radius: 48px;
     background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
 }

 .btn-3 {

     border-radius: 48px;
     background: #4EC5F7;

 }

 .bg-same {
     color: #FFF;
     font-size: 20px;
     font-weight: 600;
     text-transform: uppercase;
     gap: 20px;
     border: none;
     padding: 18px 28px;

 }

 .colom-two img {
     width: 719.446px;
     height: 600px;
     flex-shrink: 0;
     padding-right: 100px;
     margin: 0 auto;
     align-items: center;

 }

 /* online funny section start hare */

 .fun-title {
     grid-area: ft;
 }

 .one {
     grid-area: one;

 }

 .two {
     grid-area: two;
 }

 .three {
     grid-area: three;
 }

 .four {
     grid-area: four;
 }

 .fun {
     max-width: 1440px;
     width: 100%;
     margin: 64px auto 0px;

 }

 .fun-container {

     margin: 0 100px;

 }

 .fun-container div img {
     width: 250px;

 }

 /* 
 .play {
     position: relative;
 }

 .play-icon {
     top: -180px;
     left: 105px;
     font-size: 40px;
     color: #FFF;
 }
 .watch-text{
    
    top: -170px;
     left: 70px;
     font-size: 20px;
     font-weight: 600;
    color: #FF42A5;

 } */


 .fun-grid {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-areas: "ft ft ft ft"
         "one two three four";

 }

 .game-title {
     margin-top: 120px;
     margin-bottom: 16px;
     color: #0B0223;
     font-size: 48px;
     font-weight: 700;
     text-align: center;
 }

 .game-description {

     text-align: center;
     color: #534C64;
     text-align: center;
     font-size: 18px;
     font-weight: 400;
     margin-bottom: 48px;
     padding: 0;

 }

 .gradiant-color {
     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .video-footer {
     color: #534C64;
     font-family: Work Sans;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 30px;
     width: 270px;
 }

 /* play game section start hare */
 .play-game {
     max-width: 1440px;
     width: 100%;
     height: 92vh;
     margin: 120px auto 0;
     overflow: hidden;
 }

 .game-container-flex {
     display: flex;
     margin: 0 100px;
     justify-content: space-between;
     align-items: center;
 }

 .colom-one-game .one {
     width: 500px;
     height: 480px;
 }

 .colom-two-game {
     padding-bottom: 200px;
 }

 .colom-one-game .two {
     min-width: 230px;
     height: 280px;
     top: -180px;
     left: 370px;
 }

 .item {
     position: relative;
 }

 .play-game-title {
     font-size: 48px;
     font-weight: 700;
     width: 426px;

 }

 .play-game-description {
     color: #534C64;
     font-size: 18px;

     font-weight: 400;
     line-height: 30px;
     width: 483px;
 }

 .div-flex {
     display: flex;
     text-align: center;

 }

 .same {
     align-items: center;
 }

 /* more icon section start */

 .icon-section {
     max-width: 1440px;
     height: 427px;


     margin: auto;
 }

 .first-row {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 15px;
     margin-top: 100px;
     margin-bottom: 56px;

 }

 .second-row {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 15px;
     padding-bottom: 140px;

 }

 .btn-icon {
     display: flex;
     align-items: center;
     background: #FFF;
     width: 290px;
     height: 80px;
     font-size: 16px;
     font-weight: 400;
     line-height: normal;
     border: none;
     text-align: center;


 }

 .btn-icon:hover {
     border-radius: 50px;
     border: 1px solid #FF42A5;
     background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     transition: 0.5s;
 }


 /* footer section start hare */
 footer {
     max-width: 1440px;
     padding-top: 50px;
     text-align: center;
     color: white;
     background-color: #0B0223;
     width: 100%;
     height: 500px;
     margin: auto;
     align-content: center;

 }

 .fa-facebook {
     color: cornflowerblue;


 }

 .footer-logo {
     display: inline-flex;
     justify-content: center;
     font-size: 45px;
     font-weight: 700;
     margin-bottom: 60px;

 }

 .font-footer {
     display: flex;
     font-size: 34px;
     padding: 10px;
     justify-content: center;
     gap: 30px;
     margin-top: 20px;
 }

 .first-footer-list {
     display: flex;
     justify-content: center;
     gap: 30px;
 }

 .second-footer-list {
     display: flex;
     justify-content: center;
     gap: 30px;
     margin-top: 30px;

     margin-bottom: 30px;
     color: white;
 }

 /* footer section end hare */